/*Colors - 
Vichyssoise #EFFFCD
Hex #DCE9BE
shadow dirt #555152
Evening Cloud #2E2633
Heliotrope #99173C
Title #D8D8D8
paper #fffae0

*/

body {
	font-family: "Minion Pro", serif;
	color: #2E2633;
	background-color: white;
	font-size: 14px;
}

p {
	font-family: "Minion Pro", serif;
}

a{
	text-decoration: none;
	color: #2E2633;
	font-family: "Minion Pro";
	}

a:hover{ 
	text-decoration: underline;
	color: #99173C;
	}

h1{
    border: 0 none;
    font-family: "Minion Pro", serif;
	color: #99173C;
    font-size: 1.3em;
	font-weight: normal;
    letter-spacing: 2px;
    padding: 0;
}

h2	{
	    color: #2E2633;
	    font-size: 0.8em;
	    text-transform: uppercase;
	}
	
input {
	display: block;
	}
	
#nav{
	margin:0px;
	padding: 0px;
	background-color: #555152;
	color: #EFFFCD;
	font-family: "adobe-garamond-pro-1", serif;

	}

#nav a{
	font-size: 150%;
	padding: 0px 20px;
	text-align: center;
	color: #EFFFCD;
	text-decoration: none;
	font-family: "adobe-garamond-pro-1", serif;
	
}

#nav a:hover{
	color: white;
	text-decoration: none;
	background-color: #99173C;
}

#bookmark{
	padding: 2px;
	margin: 5px 0px;
	background-color: #EFFFCD;
}

#details, #details a{
	color: #C0C0C0;
}

ul.tags, ul.tags li {
	display: inline;
	margin: 0;
	padding: 0;
	font-size: 90%;

}

ul.tags a{
	color: #555152;
}

ul.bookmarks .edit{
	font-size: 80%;
}

ul.bookmarks {
	list-style-type: none;
	font-family: "Minion Pro", serif;
	margin: 0;
	padding: 0;
}

ul.bookmarks .title{
	font-size: 140%;
	font-family: "Minion Pro", serif;
}

ul.bookmarks li{
	padding: 1em 0em;
}

textarea {
	display: block;
}

.comment {
	margin: 1em;
	padding: 5px;
	border: 1px solid #000;
}

#tag-cloud{
	text-align: center;
}

#tag-cloud a {
	margin: 0 0.2em;
}
.tag-cloud-0 { font-size: 100%;}
.tag-cloud-1 { font-size: 120%;}
.tag-cloud-2 { font-size: 140%;}
.tag-cloud-3 { font-size: 160%;}
.tag-cloud-4 { font-size: 180%;}
.tag-cloud-5 { font-size: 200%;}
}