{% extends "base.htm" %}
{% block title %}Friends for {{username}}{% endblock %}
{% block head %}Friend List{% endblock %}
{% block content %}
<h2></h2>
{% if friends %}
	<ul class="friends">
	{% for friend in friends %}
		<div id="friend">
		<li><a href="/user/{{ friend.username }}/">
			{{ friend.username }}</a>
		</div>
			</li>
			
	{% endfor %}
	</ul>
{% else %}
	<p>No Friends found.</p>
{% endif %}
<a href="/friend/invite/">Invite a friend!</a>

<h2>Latest Friend Bookmarks</h2>
{% include "bookmark_list.htm" %}
{% endblock %}