{% load comments %}
{% if shared_bookmarks %}
	<ul class="bookmarks">
	{% for shared_bookmark in shared_bookmarks %}
		<div id="bookmark">
		<li>

		<a href="{{ shared_bookmark.bookmark.link.url }}" class="title">
			{{ shared_bookmark.bookmark.title }}</a>
			</br>
		<div id="details">
		By
		<a href="/user/{{ shared_bookmark.bookmark.user.username }}/"
		class = "username">
		{{ shared_bookmark.bookmark.user.username }}</a>
				<a href="/vote/?id={{shared_bookmark.id }}" class="vote"><img src="/site_media/lightbulb.png" id="graphic"/></a>
		<span class="vote-count">{{ shared_bookmark.votes }}</span>
		{% get_comment_count for bookmarks.sharedbookmark shared_bookmark.id as comment_count %}
		<a href="/bookmark/{{ shared_bookmark.id }}/"><img src="/site_media/comment.png" id="graphic"/></a>{{ comment_count }}
		</div>
		</li>
		</div>
	{% endfor %}
	</ul>
{% else %}
<p>No bookmarks found.</p>
{% endif %}