{% extends 'base.htm' %}
{% block external %}
<script type="text/javascript" src="/site_media/bookmark_edit.js"></script>
{% endblock %}

{% block title %}{{ username }}{% endblock %}
{% block head %}{{ username }}'s Articles{% endblock %}
{% block content %}
{% ifequal user.username username %}
	<a href="/friends/{{username}}/">view your friends</a>
{% else %}
	{% if is_friend %}
		<a href="/friends/{{user.username}}/">
		{{username}} is a friend of yours</a>
	{% else %}
		<a href="/friend/add/?username={{username}}">
		add {{username}} to your friends</a>
	{% endif %}
	<a href="/friends/{{username}}/">
	view {{username}}'s friends</a>
{% endifequal %}
{% include "bookmark_list.htm" %}
{% endblock %} 